<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyhappyyay.landscaperecord">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.happyhappyyay.landscaperecord.LoginPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- android:configChanges="keyboardHidden|orientation|screenSize"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.happyhappyyay.landscaperecord.MainMenu"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.TimeReporting"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.Payment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.NewContact"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.Job"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.JobServices"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.AdminTools"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.UserOptions"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.happyhappyyay.landscaperecord.AddUser"
            android:theme="@style/AppTheme" />
        <activity android:name="com.happyhappyyay.landscaperecord.ViewUsers" />
        <activity android:name="com.happyhappyyay.landscaperecord.DeleteUser" />
        <activity android:name="com.happyhappyyay.landscaperecord.Dashboard" />
        <activity android:name="com.happyhappyyay.landscaperecord.Settings" />
        <activity android:name="com.happyhappyyay.landscaperecord.HourOperations" />
        <activity android:name="com.happyhappyyay.landscaperecord.ViewActivityLogs"></activity>
    </application>

</manifest>