<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyhappyyay.landscaperecord">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TimeReporting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReceivePayment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewContact"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JobServices"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AdminTools"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddUser"
            android:theme="@style/AppTheme" />
        <activity android:name=".ViewUser" />
        <activity android:name=".DeleteUser" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Settings" />
        <activity android:name=".HourOperations" />
        <activity android:name=".ViewActivityLogs" />
        <activity
            android:name=".QuickSheet"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ViewServices" />
        <activity android:name=".ViewWorkDay" />
        <activity android:name=".BillingPreview" />
        <activity android:name=".UserSettings" />
        <activity android:name=".EditUser" />
        <activity android:name=".ViewContacts" />
        <activity android:name=".ViewCustomer" />
        <activity android:name=".EditCustomer" />
        <activity android:name=".ViewUsers" />
        <activity android:name=".PaymentQueue"></activity>
    </application>

</manifest>