<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyhappyyay.landscaperecord">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/first_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/first_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.LoginPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainMenu"
            android:parentActivityName=".activity.Dashboard"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.TimeReporting"
            android:parentActivityName=".activity.MainMenu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ReceivePayment"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.AddCustomer"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.JobServices"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.MainMenu"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.AdminTools"
            android:parentActivityName=".activity.MainMenu"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.AddUser"
            android:parentActivityName=".activity.ViewUsers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewUser"
            android:parentActivityName=".activity.ViewUsers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.Dashboard"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.Settings"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.HourOperations"
            android:parentActivityName=".activity.ViewUsers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewActivityLogs"
            android:parentActivityName=".activity.AdminTools"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.QuickSheet"
            android:parentActivityName=".activity.Dashboard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.ViewServices"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewWorkDay"
            android:parentActivityName=".activity.AdminTools"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.EditUser"
            android:parentActivityName=".activity.ViewUsers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewCustomers"
            android:parentActivityName=".activity.MainMenu"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewCustomer"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.EditCustomer"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ViewUsers"
            android:parentActivityName=".activity.MainMenu"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.PaymentQueue"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.BillCreation"
            android:parentActivityName=".activity.ViewCustomers"
            android:theme="@style/AppTheme"/>
        <activity android:name=".utility.testDatabase" />
        <activity android:name=".activity.UserSetting"
            android:parentActivityName=".activity.Dashboard"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.FirstGlance"></activity>
    </application>

</manifest>